.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    > * {
        padding: 0.5em;
        border-right: 1px solid black;
        > article {
            background: white;
            padding: 0 0.5em;
            margin-bottom: 0.5em;
            border: solid 1px;
            border-radius: 5px;
        }
    }
    > :first-child {
        background-color: rgb(227, 255, 227);
        > :global(article) {
            border-color: green;
        }
    }
    > :nth-child(2) {
        background-color: rgb(229, 229, 255);
        > :global(article) {
            border-color: rgb(157, 157, 255);
        }
    }
    > :last-child {
        background-color: rgb(224, 224, 224);
        border-right: none;
        > :global(article) {
            border-color: gray;
        }
    }
}
